<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading text-center">Available Courses</div>
      <div class="panel-body">
        <% if @courses.present? %>
          <%= form_for(@course_assignment, method: 'post') do |f| %>
                <%= f.collection_check_boxes(:course_id, @courses.all, :id, :course_name) do |course| %>
                  <%= course.label( :"data-value" => course.value){course.check_box + " "+ course.text}  %><br>
                <% end %>
              <div class="actions">
                <%= f.submit "Assign", class:"btn btn-primary" %>
              </div>
          <% end %>
        <% else %>
          <p>There are no courses in this semester right now</p>
        <% end %>
      </div>
      <div class="panel-footer">
        <%= link_to 'Home', users_path, class:"btn btn-primary", style:"color:white" %>
      </div>
    </div>
  </div>
</div>

