<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading text-center">
        <div><h4><%= @semester.name %></h4></div>
        <div>
          <% if @user_semester.is_completed %>
              <h4><span class="label label-success">Completed</span></h4>
          <% else %>
              <h4><span class="label label-info">Current</span></h4>
          <% end %>
        </div>
        <div>Grade Point: <%= @user_semester.gpa %></div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <td>Courses</td>
              <td>Grade Points</td>
            </tr>
            </thead>
            <tbody>
              <% @user_courses.each do |user_course|%>
                <tr>
                  <td><%= Course.find(user_course.course_id).course_name %></td>
                  <td><%= user_course.grade_point %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel-footer">
        <%= link_to 'Home', users_path, class:"btn btn-primary", style:"color:white" %>
      </div>
    </div>
  </div>
</div>
