<!DOCTYPE html>
<html>
  <head>
    <title>StudentManagementSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="row">
      <div class="col-md-12">
        <div align="center">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
        <% if current_user.present? %>
          <% if current_user.is_admin %>
            <%= render partial: 'users/admin' %>
          <% else %>
            <%= render partial: 'users/student' %>
          <% end %>
        <%end%>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
